
.testimonial-v1 {
  text-align: center; }
  .testimonial-v1 .testimonial-inner-bg {
    padding: 50px;
    padding-bottom: 70px;
    background-color: #212121;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    z-index: 1; }
    @media (max-width: 991.98px) {
      .testimonial-v1 .testimonial-inner-bg {
        font-size: 16px;
        line-height: 32px;
        padding: 30px 30px 50px 30px; } }
    .testimonial-v1 .testimonial-inner-bg .quote {
      display: block;
      font-size: 80px;
      font-family: 'Georgia', serif; }
  .testimonial-v1 .testimonial-author-info {
    z-index: 2;
    margin-top: -45px;
    position: relative; }
    .testimonial-v1 .testimonial-author-info img {
      width: 90px;
      margin: 0 auto 30px auto;
      border-radius: 50%; }
    .testimonial-v1 .testimonial-author-info h3 {
      font-size: 20px;
      margin: 0; }
    .testimonial-v1 .testimonial-author-info .position {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5); }

.testimonial-slider .owl-stage, .single-slider .owl-stage {
  overflow: hidden; }

@media (max-width: 991.98px) {
  .testimonial-slider .owl-nav, .single-slider .owl-nav {
    display: none; } }

.testimonial-slider .owl-nav .owl-prev,
.testimonial-slider .owl-nav .owl-next, .single-slider .owl-nav .owl-prev,
.single-slider .owl-nav .owl-next {
  position: absolute;
  bottom: -70px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff !important; }
  .testimonial-slider .owl-nav .owl-prev span,
  .testimonial-slider .owl-nav .owl-next span, .single-slider .owl-nav .owl-prev span,
  .single-slider .owl-nav .owl-next span {
    font-size: 30px; }
  .testimonial-slider .owl-nav .owl-prev:hover,
  .testimonial-slider .owl-nav .owl-next:hover, .single-slider .owl-nav .owl-prev:hover,
  .single-slider .owl-nav .owl-next:hover {
    color: #fff; }
  .testimonial-slider .owl-nav .owl-prev:active, .testimonial-slider .owl-nav .owl-prev:focus,
  .testimonial-slider .owl-nav .owl-next:active,
  .testimonial-slider .owl-nav .owl-next:focus, .single-slider .owl-nav .owl-prev:active, .single-slider .owl-nav .owl-prev:focus,
  .single-slider .owl-nav .owl-next:active,
  .single-slider .owl-nav .owl-next:focus {
    outline: none; }

.testimonial-slider .owl-nav .owl-prev, .single-slider .owl-nav .owl-prev {
  left: 60px; }

.testimonial-slider .owl-nav .owl-next, .single-slider .owl-nav .owl-next {
  right: 60px; }

.testimonial-slider .owl-dots, .single-slider .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 50px; }
  .testimonial-slider .owl-dots .owl-dot, .single-slider .owl-dots .owl-dot {
    display: inline-block; }
    .testimonial-slider .owl-dots .owl-dot > span, .single-slider .owl-dots .owl-dot > span {
      margin: 4px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .testimonial-slider .owl-dots .owl-dot.active > span, .single-slider .owl-dots .owl-dot.active > span {
      background: white; }
    .testimonial-slider .owl-dots .owl-dot:active, .testimonial-slider .owl-dots .owl-dot:focus, .single-slider .owl-dots .owl-dot:active, .single-slider .owl-dots .owl-dot:focus {
      outline: none; }

.testimonial-slider .owl-dots {
  bottom: -50px; }

.single-slider {
  margin-bottom: 90px; }
  .single-slider .owl-prev, .single-slider .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .single-slider .owl-prev:hover, .single-slider .owl-next:hover {
      background: rgba(0, 0, 0, 0.9) !important; }
    .single-slider .owl-prev span, .single-slider .owl-next span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .single-slider .owl-prev span:before, .single-slider .owl-next span:before {
        font-size: 40px; }
