* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.home-poetry{


background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
	
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom:20px solid #540306;
  padding: 100px;
  box-shadow: 10px 10px 5px #aaaaaa;
    -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  border-radius: 50px 15px; 
  
}

/* Caption text */
.text {
  color: #aaaaaa;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.quote {
      display: block;
      font-size: 80px;
      font-family: 'Georgia', serif; }
	  
	  
	  
	  
.btn {
    height: 60px;
    background: black;
    color: white;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    border-color: black;
    position: relative;
    transition: .2s;
    font-family: 'Silka-Medium', sans-serif;
}

.btn:hover {
    background: black;
    border-color: #191A1E;
}

.expands {
    opacity: .5;
    position: absolute;
    display: inline-block;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.btn:hover .expands {
    transform: translate(60%, -50%);
    transition: 0.2s;
    color: white;
}

/******************************photograpgy home portfolio ************************************************/



/* line 1, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_area {
  background-image: url(../img/banner/portfolio_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 180px;
  padding-bottom: 340px;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
  .portfolio_area {
    padding-top: 60px;
  }
}

/* line 13, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
   background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  content: '';
}

/* line 25, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
}

/* line 29, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area.dec_margin {
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 29, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 70px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 29, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
  .portfolio_image_area.dec_margin {
    padding: 100px 0;
  }
}

/* line 43, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 47, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_thumb {
  height: 410px;
}

/* line 49, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_thumb img {
  width: 100%;
  height: 100%;
}

/* line 54, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(97, 92, 253, 0.6);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}

/* line 66, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 74, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio .portfolio_hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* line 80, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .single_Portfolio:hover .portfolio_hover {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}

/* line 85, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .more_portfolio {
  margin-top: 60px;
}

/* line 88, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_portfolio.scss */
.portfolio_image_area .popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}









